@font-face {
	font-family: QuattrocentoSans;
	src: url('../fonts/QuattrocentoSans/QuattrocentoSans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: QuattrocentoSans;
	src: url('../fonts/QuattrocentoSans/QuattrocentoSans-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: LibreCaslon;
	src: url('../fonts/LibreCaslon/LibreCaslonText-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: LibreCaslon;
	src: url('../fonts/LibreCaslon/LibreCaslonText-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: LibreBaskerville;
	src: url('../fonts/LibreBaskerville/LibreBaskerville-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

html {
	overflow-y :scroll;
}

html,body,nav,header,footer,section,article,div,span,h1,p { margin:0; padding:0; }

body {
	font-family: 'QuattrocentoSans', sans-serif;
	color: #FFFFFF;
	background-color: #371212;
}

header {
	width: 800px;
	margin: 0 auto;
	background-color: #000000;
	padding: 3em 0 0 0;
	text-align: center;
}

header h1 {
	font-weight: normal;
	font-size: 2.8em;
}

nav {
	width: 800px;
	margin: 0 auto -2.15em auto;
	background-color: #000000;
	text-align: center;
	padding: 2em 0 0 0;
}

nav a {
	color: #AAAAAA;
	font-size: 1.6em;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0.5% 1% 0 1%;
	margin: 0 0 0 -0.5%;
	display: inline-block;
	width: 130px;
}

nav a p {
	font-size: 0.7em;
	text-transform: none;
	padding: 8% 0 3% 0;
}

nav a:hover {
	background-color: #541D1D;
	color: white;
}

.nav_project {
	padding: 0;
	margin: 0;
}

.nav_project a {
	display: block;
	width: auto;
	padding: 1%;
	margin: 0;
}

.full-line {
	background-color: #541D1D;
	padding: 4px;
}

section {
	width: 800px;
	min-height: 19em;
	margin: 0 auto;
	background-color: #000000;
	padding: 2em 0 5em 0;
}

section a {
	display: block;
	position:relative;
	margin: 2em auto 0 auto;
	padding: 0;
	background-color: #531D1D;
	text-decoration: none;
	font-family: 'QuattrocentoSans', sans-serif;
}

section a:hover {
	background-color: #371212;
}
section a:hover p {
	color: #444444;
}

section a aside {
	display: none;
	font-size: 2.5em;
	color: white;
}

section a:hover aside {
	display: block;
	position: absolute;
	z-index: 5;
	margin: auto;
	left: 0;
	right: 0;
	width: 50%;
	top: 0;
	bottom: 0;
	height: 30%;
}

section a h1 {
	font-family: 'LibreBaskerville', serif;
	font-weight: bold;
	color: #000000;	
	font-size: 3em;
	margin: 0 0 -0.13em 0;
}

section a h1:first-letter {
	float: left;
	font-size: 3.2em;
	padding: 0 0 0 0;
	color: black;
	margin: -4% 0 -6% 5%;
}

section a p {
	color: white;
	text-align: justify;
	font-family: 'LibreCaslon', serif;
	padding: 0.2% 5% 0% 5%;
	font-size: 1.2em;
	line-height: 1.6em;
}

article {
	font-family: 'QuattrocentoSans', sans-serif;
	margin: 2em auto 0 auto;
	padding: 0;
	background-color: #531D1D;
}

article h1 {
	font-family: 'LibreBaskerville', serif;
	font-weight: bold;
	color: #000000;
	font-size: 3em;
	margin: 0 0 -0.13em 0;
}

article h1:first-letter {
	float: left;
	font-size: 3.2em;
	padding: 0;
	color: black;
	//margin: -0.01em 0em -0.1em 0.2em;
	//margin: -0.21em 0em -0.3em 0.2em;
	margin: -4% 0 -6% 5%;
}

article p {
	font-family: 'LibreCaslon', serif;
	font-size: 1.2em;
	text-align: justify;
	line-height: 1.6em;
	background-color: #531D1D;
	//padding: 0em 4.3% 0% 4.3%;
	//padding: 0.1em 4.3% 0% 4.3%;
	padding: 0.2% 5% 0% 5%;
}

/* Sorry Firefox, but you have very unique margin/padding rendering
	I will probably go to CSS hell for this ...
*/
@-moz-document url-prefix() {
	article h1:first-letter {
		margin-top: 0;
		margin-bottom: -3%;
	}
	section a h1:first-letter {
		margin-top: 0;
		margin-bottom: -3%;
	}	
}


article h2 {
	font-family: 'LibreCaslon', serif;
	padding: 3% 4.3% 1% 4.3%;
	margin: 0;
}

article a {
	color: #AAAAAA;
	font-family: 'LibreCaslon', serif;
	font-weight: bold;
	margin: 0;
	padding: 0;
	display: inline;
	border: 1px solid #AAAAAA;
	border-style: none none solid none;	
}

article a:hover {
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-style: none none solid none;	
}

footer {
	width: 800px;
	margin: 0 auto 0 auto;
	text-align: center;
}
